<!DOCTYPE html>
<html>
<head>
    <title>Current pH</title>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
</head>
<body>
    <h1>Current pH</h1>
    <div id="container" style="width:100%; height:400px;"></div>
    <script>
        const ph_data = {{ ph_data }};
        const ph_down = [
            {% for (timestamp, length) in ph_down %}
            {x: {{ timestamp }}, text: '{{ length }} ms' },
            {% endfor %}
        ];
        const ph_up = [
            {% for (timestamp, length) in ph_up %}
            {x: {{ timestamp }}, text: '{{ length }} ms' },
            {% endfor %}
        ];
    </script>
    <script src="{{ url_for('static', filename='js/ph_chart.js') }}"></script>
</body>
</html>
